h1 {
  color: red;
}

.imgBloc {
  display: flex;
  margin: 1rem 0;
  overflow: hidden;

  /* show container */
  /* border: 1px solid red; */

  /* width and height depend screen size */
  /* width: 27vw; */
  /* height: 33.2vh; */


  align-items: center;

  /**/
  /* If we want centered image
  /* flex align-item -> preserve aspect ratio */
  /* justify-content: center; */

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.6, 0, 1);


}

.imgBloc img {
  max-width: none;
  width: 300px;
  height:auto;
  /* transform-origin: 0%; */
  /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.6, 0, 1); */

}
