h1 {
  color: red;
}

.imgBloc {
  display: flex;
  border: 1px solid red;
  /* width: 27vw;
  height: 33.2vh; */
  overflow: hidden;
  align-items: center;
  /* flex align-item -> preserve aspect ratio */
  justify-content: center;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.6, 0, 1);


}

.imgBloc img {
  max-width: none;
  width: 300px;
  /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.6, 0, 1); */

}
