@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 163, 184;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 43, 47, 65;

  }
}

body {
  color: rgb(var(--foreground-rgb));


}

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3 text-slate-800 dark:text-slate-500;
  }
}
